body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #fff;
  color: #434455;
  margin: 0;
  width: 1440px;
  padding: 0;
}
.container {
  padding-bottom: 0px;
  background: var(--white, #fff);
  width: 1440px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
link {
  list-style: none;
}
button {
  margin: 0 635px 0 636px;
}
.top_line {
  border-bottom: 1px solid #e7e9fc;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 1440px;
  height: 72px;
  background: var(--white, #fff);
}
.header_container {
  display: flex;
  width: 1158px;
  height: 72px;
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
  margin: 0 auto;
  padding: 0 15px;
}
.menu_nav {
  display: flex;
  align-items: center;
}
.logo {
  display: inline-flex;
  height: 24px;
  align-items: center;
  flex-shrink: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin: 24px 76px 24px 0;
}
.studio {
  color: var(--navyblue, #2e2f42);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1667; /* 116.667% */
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.ul_nav {
  display: flex;
  gap: 40px;
  margin: 24px 332px 24px 0px;
  padding-left: 0;
}
.li_nav {
  display: flex;
  color: var(--iris, #2e2f42);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 116.667% */
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.li_nav:hover {
  color: #404bbf; /* Новий колір шрифту при наведенні */
}

/* Стиль для посилання при фокусі (focus) */
.li_nav:focus {
  color: #404bbf; /* Новий колір шрифту при фокусі (кліку) */
}
.main_address {
  font-style: normal;
}
.ul_adress {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  padding-left: 0;
}
.address {
  color: var(--slate, #434455);
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.address:hover {
  color: #404bbf;
}
.address:focus {
  color: #404bbf;
}
.dark_bg {
  width: 1440px;
  height: 192px;
  flex-shrink: 0;
  background: var(--navyblue, #2e2f42);
  margin: 0;
  padding: 188px 0;
}
.dark_bg1 {
  width: 1440px;
  height: 192px;
  flex-shrink: 0;
  background: var(--navyblue, #2e2f42);
  margin: 0;
}
.main_title {
  width: 496px;
  color: var(--white, #fff);
  text-align: center;
  max-width: 496px;
  /* Header 1 */
  font-family: "Roboto";
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07; /* 60px / 56px = 1.07143 */
  letter-spacing: 0.02em;
  margin: 0 472px 48px 472px;
  padding: 0;
}
.button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  align-items: flex-start;
  display: inline-flex;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px 16px 32px;
  border-radius: 4px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.button:hover {
  background-color: #404bbf;
}
.button:focus {
  background-color: #404bbf;
}
.button_place {
  background: var(--iris, #4d5ae5);
  cursor: pointer;
  color: var(--white, #fff);

  /* Button Text */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64em;
}
.our_preferences {
  width: 1440px;
  height: 104px;
  flex-shrink: 0;
  background-color: #fff;
  padding: 120px 156px;
}
.our_preferences1 {
  width: 1128px;
  height: 104px;
  flex-shrink: 0;
  background-color: #fff;
}
.visually-hidden {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}
.ul_preferences {
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  gap: 24px;
  padding: 0;
}
.feature_1 {
  display: flex;
  flex-basis: calc((100% - 72px) / 4);
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  height: 105px;
}
.preferences_title {
  color: var(--navyblue, #2e2f42);

  /* Header 3 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-top: 0;
  margin-bottom: 8px;
}
.preferences {
  color: var(--slate, #434455);

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% expressed as a unitless multiplier */
  letter-spacing: 0.02em;
  margin-top: 0;
  margin-bottom: 0;
}
.our_team {
  width: 1440px;
  height: 732px;
  flex-shrink: 0;
  background: var(--cloud, #f4f4fd);
}
.team_title {
  color: var(--navyblue, #2e2f42);
  text-align: center;

  /* Header 2 */
  font-family: Roboto;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding: 120px 639px 72px 639px;
  margin: 0;
}
.place_for_cart {
  margin: 0;
  padding: 0;
}
.team_card1 {
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  margin: 0 24px 120px 156px;
}
.team_card2 {
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  margin: 0 24px 120px 0;
}
.team_card3 {
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  margin: 0 24px 120px 0;
}
.team_card4 {
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  margin: 0 0 120px 0;
}

.photo_of_team {
  background: url(<path-to-image>),
    lightgray -97.034px -0.927px / 181.897% 251.37% no-repeat;
}
.name {
  color: var(--navyblue, #2e2f42);
  text-align: center;

  /* Header 3 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin: 0;
}
.position {
  color: var(--slate, #434455);
  text-align: center;

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
}
.card_content {
  display: flex;
  width: 232px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 32px 16px;
}
.table {
  justify-content: center;
}
.section4 {
  width: 1440;
  height: 1240;
  flex-shrink: 0;
  background: #fff;
}
.title_section4 {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  margin: 120px 611px 72px 611px;

  /* Header 2 */
  font-family: Roboto;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.row1 {
  width: 1128px;
  height: 420px;
  flex-shrink: 0;
  display: inline-flex;
  align-items: flex-start;
  margin-bottom: 48px;
}
.row2 {
  width: 1128px;
  height: 420px;
  flex-shrink: 0;
  display: inline-flex;
  align-items: flex-start;
  margin-bottom: 120px;
}
.project_card1 {
  display: flex;
  width: 360px;
  height: 420px;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
  margin: 0 24px 48px 156px;
}
.project_card2 {
  display: flex;
  width: 360px;
  height: 420px;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
  margin: 0 24px 48px 0;
}
.project_card3 {
  display: flex;
  width: 360px;
  height: 420px;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
  margin: 0 156px 48px 0;
}
.our_exampels {
  margin: 0;
  padding: 0;
}
.card_content_portfolio {
  display: flex;
  padding: 0px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  margin: 32px 0 32px 0;
}
.name_card {
  color: var(--navyblue, #2e2f42);
  /* Header 3 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin: 0;
}
.text_card {
  color: var(--slate, #434455);

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin: 0;
}
.dark_futter {
  width: 1440px;
  height: 312px;
  flex-shrink: 0;
  background: var(--navyblue, #2e2f42);
}
.dark_logo {
  display: inline-flex;
  height: 24px;
  align-items: center;
  flex-shrink: 0;
  margin: 100px 1169px 16px 156px;
}
.white_studio {
  justify-content: center;
  color: var(--cloud, #f4f4fd);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16667; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.text_futter {
  color: var(--cloud, #f4f4fd);

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin: 0 1020px 100px 156px;
}
